.table-container{
  margin-top: 20px;
  padding-bottom: 120px;
  position: center;
  display: flex;
  justify-content: center;
}

table{
  width: 90%;
}

.cancel{
  background-color: #25274D;
  color: #FFFFFF;
}

.check-dir{
  background-color: #33355f;
  color: #FFFFFF;
}
