<h2 class="text-center">Change Password</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <div class="row justify-content-center">
      <div class="col-sm-6 justify-content-center text-center">
        <p>Actual password</p>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput #oldPassword type="password" formControlName="actualPassword" placeholder="Actual password">
          <mat-error *ngIf="form.get('actualPassword').hasError('required')"><strong>Actual password</strong> field is Required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 justify-content-center text-center">
        <p>New password</p>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput #newPassword type="password" formControlName="newPassword" placeholder="New password">
          <mat-error *ngIf="form.get('newPassword').hasError('required')"><strong>New password</strong> field is Required</mat-error>
          <mat-error *ngIf="form.get('newPassword').hasError('minlength')">Password must have min 8 chars</mat-error>
          <mat-error *ngIf="form.get('newPassword').hasError('maxlength')">Password must have max 20 chars</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 justify-content-center text-center">
        <p>repeat new password</p>
      </div>
      <div class="col-sm-6">
        <mat-form-field>
          <input matInput type="password" formControlName="repeatPassword" placeholder="Repeat new password">
          <mat-error *ngIf="form.get('repeatPassword').hasError('required')"><strong>Repeat password</strong> field is Required</mat-error>
          <mat-error *ngIf="form.get('repeatPassword').hasError('mustMatch')"><strong>Passwords</strong> must match</mat-error>
          <mat-error *ngIf="form.get('repeatPassword').hasError('minlength')">Password must have min 8 chars</mat-error>
          <mat-error *ngIf="form.get('repeatPassword').hasError('maxlength')">Password must have max 20 chars</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-center">
  <button mat-raised-button class="cancel" mat-dialog-close>Close</button>
  <button mat-raised-button class="change-pass" [disabled]="form.invalid" (click)="changePassword()">Change password</button>
</mat-dialog-actions>
