<h2>File {{userFileName}} details</h2>
<mat-dialog-content>
  <div class="row distance">
    <div class="col-sm-6">
      <mat-label>ID:</mat-label>
    </div>
    <div class="col-sm-6">
      <mat-label>{{id}}</mat-label>
    </div>
  </div>
  <div class="row distance">
    <div class="col-sm-6">
      <mat-label>filename:</mat-label>
    </div>
    <div class="col-sm-6">
      <mat-label>{{fileName}}</mat-label>
    </div>
  </div>
  <div class="row distance">
    <div class="col-sm-6">
      <mat-label>Description</mat-label>
    </div>
    <div class="col-sm-6">
      <mat-label>{{description}}</mat-label>
    </div>
  </div>
  <div class="row distance">
    <div class="col-sm-6">
      <mat-label>Size o file</mat-label>
    </div>
    <div class="col-sm-6">
      <mat-label>{{fileSize}} bytes</mat-label>
    </div>
  </div>
  <div class="row distance">
    <div class="col-sm-6">
      <mat-label>File path</mat-label>
    </div>
    <div class="col-sm-6">
      <mat-label>{{path}}</mat-label>
    </div>
  </div>
  <div class="row distance justify-content-center">
    <div class="col-sm-6 text-center">
      <mat-label>Author</mat-label>
    </div>
  </div>
  <div class="row distance">
    <div class="col-sm-6">
      <mat-label>First name</mat-label>
    </div>
    <div class="col-sm-6">
      <mat-label>{{firstName}}</mat-label>
    </div>
  </div>
  <div class="row distance">
    <div class="col-sm-6">
      <mat-label>Last name</mat-label>
    </div>
    <div class="col-sm-6">
      <mat-label>{{lastName}}</mat-label>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-raised-button color="warn">Close</button>
</mat-dialog-actions>
